@model List<WolneLekturyCwiczenia.Models.SQL.Table.Epoch>
@{
    int webe = 20;
    string test = "bartek";
    int strona = 1;
}
<div class="container">

    <div class="row">
        <form action="/epochs/epochs" method="post">
            <div class="alert alert-secondary mt-4">
                <div class="col-12">
                    <h6>Wyszukiwarka</h6>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="categoryFilter" value="@ViewBag.ContentEpoch" name="tresc">
                        <button class="btn btn-primary" type="submit" id="button-addon2">Szukaj</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <a href="/Epochs/NewEpoch" class="btn btn-success ">Dodaj nową</a>
        </div>
    </div>
    <div class="row">
        @foreach (var epoka in Model)
        {
            <div class="row m-2">
                <div class="col-4" style="border: 1px solid black; border-radius: 5px; background-color:antiquewhite">
                    <a href="/Epochs/EpochsAudiobooks?epoka=@epoka.Name">@epoka.Name</a>
                </div>
                <div class="col-3" style="border: 1px solid black; border-radius: 5px; background-color:antiquewhite">
                    <a href="@epoka.Href">@epoka.Href</a>
                </div>
                <div class="col-4 text-center" style="border: 1px solid black; border-radius: 5px; background-color:antiquewhite">
                    @epoka.Slug
                </div>
                <div class="col-1">
                    <div class="g-1">
                        <a href="/Epochs/EditFromEpoch?epochid=@epoka.EpochId" class="btn btn-success">Edytuj</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <nav aria-label="...">
        <ul class="pagination justify-content-center active">
            <li class="page-item">
                @if (ViewBag.PreviousPageEpochs > 0)
                {
                    <a href="/epochs/epochs?page=@ViewBag.PreviousPageEpochs" class="page-link">Poprzednia</a>
                }
            </li>
            @while (strona <= ViewBag.PageCountEpochs)
            {
                if (ViewBag.PageNumber == strona)
                {
                    <li class="page-item active"><a class="page-link" href="/epochs/epochs?page=@strona">@strona</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" href="/epochs/epochs?page=@strona">@strona</a></li>
                }
                strona++;

            }
            @if (ViewBag.NextPageEpochs <= ViewBag.PageCountEpochs)
            {
                <li class="page-item">
                    <a class="page-link" href="/epochs/epochs?page=@ViewBag.NextPageEpochs">Następna</a>
                </li>
            }
        </ul>
    </nav>
</div>