@model List<WolneLekturyCwiczenia.Models.SQL.Table.Formularz>
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

   <div class="container">
    <form action="/Form/FormView" method="post" class="row">      
        <div class="container row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <label for="exampleFormControlInput1">Adres e-mail</label>

                <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="adres@email.com">
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <label for="exampleFormControlInput1">Wprowadź imię</label>
                <input type="name" class="form-control" name="firstName" id="exampleFormControlInput1" placeholder="Imię">
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                <label for="exampleFormControlInput1">Wprowadź nazwisko</label>
                <input type="name" class="form-control" name="lastName" id="exampleFormControlInput1" placeholder="Nazwisko">
            </div>
        </div>
        <div class="container form-group">
            <label class="my-2" for="exampleFormControlTextarea1">Treść wiadomości</label>
            <textarea class="form-control" name="textarea" id="exampleFormControlTextarea1" rows="5" placeholder="Napisz w jakiej sprawie chciałbyś się z nami skontaktować :)"></textarea>
            <div class="text-center"><input type="submit" value="Wyślij" class="btn btn-success mt-2"></input></div>
        </div>
    </form>
    </div>
    <div class="container">
    <table class="table">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Data</th>
            <th scope="col">Imie</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">E-mail</th>
            <th scope="col">Treść wiadomości</th>
        </thead>
        @foreach (var form in Model)
        {
           <tbody>
                <tr>
                  <th scope="row">@form.FormularzId</th>                  
                  <td>@form.Date</td>
                  <td>@form.FirstName</td>
                  <td>@form.LastName</td>
                  <td>@form.Email</td>
                  <td>@form.Textarea</td>
                </tr>
            </tbody>
        }

    </table>
    </div>
</body>
</html>

